<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>top.x0c.agentsync</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/agentsync</string>
		<string>--watch</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/tmp/agentsync.watch.out.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/agentsync.watch.err.log</string>
</dict>
</plist>
